services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_app
    ports:
      - "8000:8000"
    volumes:
      - ./laravel/src:/var/www/html
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_PORT=3306
      - DB_DATABASE=laravel
      - DB_USERNAME=laraveluser
      - DB_PASSWORD=laravelpass

  db:
    image: mysql:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: komodo
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    volumes:
      - /var/lib/komodo/mysql:/var/lib/mysql
    ports:
      - "3306:3306"
  
  phpmyadmin:
    image: phpmyadmin:latest
    restart: always
    ports:
      - "8001:80"
    environment:
      PMA_HOST: db
      PMA_PORT: 3306

  nginx:
    build: 
      context: ./nginx  
    container_name: laravel_nginx
    ports:
      - "8888:80"
    volumes:
      - ./laravel/src:/var/www
    networks:
      - komodo
    depends_on:
      - app
      - phpmyadmin
volumes:
  mysql_data:

networks:
  komodo: